<h1>Welcome </h1>

<p>I'm Colby.
    

    
<li> I am <%= myTypeClient %>, good at working hard, bad at being indecisive</p>

<hr>

<p><%= myView[0].userName %></p>

<script>
    console.log("myView", <%= myView[0] %>);
</script>


    <footer> sent from a file on my node server, yo!

    <a href="/send">send</a>
    <a href="https://github.com/cnorwood10/animated-system-november" target="_blank">Source Code</a>
    <!-- <a href="render"></a> -->

</footer>